@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
body {
    margin: 0;
}
/* shared styles */
.display_flex {
    display: flex;
}
.text_primary {
    color: #FF900E;
}
/* dark 02 */
.text_gray {
    color: #424242;
}
/* dark 03 */
.text_light_gray {
    color: #727272;
}
.bg_light {
    background-color: rgba(255, 144, 14, 0.1);
}
.btn_primary {
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}
.section_title
 {
    font-size: 2.8rem;
    font-weight: 700;
 }
/* header styles */


/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    /* margin: 0 50px; */
}
.brand {
    font-weight: 700;
    font-size: 3rem;
}
.nav_item {
    list-style: none;
    margin-right: 30px; 
}
.nav_link {
    text-decoration: none;
    font-weight: 500;   
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* Banner related style */
.banner_content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner_title {
    font-weight: 700;
    font-size: 4rem;
}
.banner_image {
    width: 100%;
}

/* Team and Feature related style */
.teams {
    align-items: center;
}
.team_img_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our_features {
    margin-left: 130px;
    max-width: 530px;
}

 .feature_description {
    padding-bottom: 25px;
 }
 #quick_list {
    font-weight: 500;
 }

 /* some facts related style */
 .facts_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 }
 .fact_card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
 }
 .fact_number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
 }
 .fact_name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
 }

 .fact_description {
    max-width: 540px;
 }
/* responsive media query */
@media screen and (max-width: 576px)
{
    .navbar,
    .nav_link,
    .teams {
        flex-direction: column;
    }

    .team_img_container {
        grid-template-columns: repeat(1, 1fr);
    }
    .our_features {
    margin-left: 20px;
    }
}

/* medium size device responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }
    .our_features {
    margin: 50px auto;
    }
}